@{
    ViewBag.Title = "O aplikacji";
}
<h2><br />O firmie:</h2>


<p>Jesteśmy firmą logistyczną posiadającą centra logistyczne w całym kraju.</p>
<p>W razie jakichkolwiek pytań, proszę się z nami skontaktować,  </p>
<p>poprzez zakładkę "Kontakt"</p>