@{
    ViewBag.Title = "Kontakt";
}
<h2><br />@ViewBag.Title:</h2>


<address>
    Firma Logistics<br />
    Poznań, Wrocławska 54b<br />
    <abbr title="Telefon">T:</abbr>
    +48 456 785 321
</address>

<address>
    <strong>Kontakt:</strong> 
    <p><a href="mailto:gabara.konrad@gmail.com">gabara.konrad@gmail.com</a></p>
    <p><a href="mailto:adamhalicki4@gmail.com">adamhalicki4@gmail.com</a> </p>
    <p><a href="mailto:slawomir.wenclik@gmail.com">slawomir.wenclik@gmail.com</a></p>
    
</address>